BARM.v.0.2.fa.gz
BARM.v.1.0.fa.gz
.snakemake*
annotation/*
mapping/*
quantification/*
slurm-*
references/*
samples/*
cutadapt/*
fastqc/*
fastuniq/*
finished_reads/*
assembly/*
blast/*
mapping_stats/*
files_to_be_distributed/*
test_taxonomy/*
*-slurm.out
